<section>
	<span>Time</span>
	<span class="alt">{{Time.elapsed}}</span>
</section>
<button class="enabled {{gameActiveClass Time.active}}">{{gameActive Time.active}}</button>
<button class="history {{historyEnabled Hist.enabled}}">History</button>
<section>
	<span>Moves</span>
	<span class="alt">{{Board.moves}}</span>
</section>
