<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<header>
			Sort Like a Boss
		</header>
		<section id="game">
			<section id="board"></section>
			<aside id="controls"></aside>
		</section>
		<footer>github</footer>
	</body>
</html>